

.producto-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

/* .product-card img{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
} */
.product-card{
    display: grid;
    grid-template-rows: 15rem 5rem auto;
    gap: 1rem;

}



.badge_precio_container{
    position: absolute;
    bottom: .2rem;
    left: .2rem;
}
.bg_badge_precio {
    background: #000000b0;
}
.precio_card{
    font-size: .8rem;

}