 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.glassmorph{
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5);
    -moz-backdrop-filter: blur(10px);
}
body{
    /* background-image: url('https://chromasupply.com/cdn/shop/products/Energy-preview-03_1024x1024.jpg?v=1569352393'); */
    background-repeat: no-repeat;
    background-size: cover;

}